---
layout: default
---
<div class="post">
  <header class="post-header">
    {% if page.profile %}
      <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          {% if page.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
          {% endif %}
          {% include figure.liquid path=profile_image_path class=profile_image_class alt=page.profile.image %}
        {% endif %}
      </div>
    {% endif %}

    <h1 class="post-title">
      {% if site.title == 'blank' %}
        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>

    <!-- Social -->
    {% if page.social %}
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>

        <div class="contact-note">{{ site.contact_note }}</div>
        <br>
      </div>
    {% endif %}
  </header>

  <article>
    <div class="clearfix">{{ content }}</div>

    <!-- News -->
    {% if page.news and site.announcements.enabled %}
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">news</a>
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}

    <!-- Latest posts -->
    {% if site.latest_posts.enabled %}
      <h2>
        <a href="{{ '/blog/' | relative_url }}" style="color: inherit">latest posts</a>
      </h2>
      {% include latest_posts.liquid %}
    {% endif %}

    <!-- CV Section -->
    <div class="cv">
      <!-- Render Education Section -->
      {% for data in site.data.resume %}
        {% if data[0] == 'education' and data[1].size > 0 %}
          <a class="anchor" id="{{ data[0] }}"></a>
          <div class="card mt-3 p-3">
            <h3 class="card-title font-weight-medium">{{ data[0] | capitalize }}</h3>
            <div>
              {% include resume/education.liquid %}
            </div>
          </div>
        {% endif %}
      {% endfor %}
      
      <!-- Render Work Section -->
      {% for data in site.data.resume %}
        {% if data[0] == 'work' and data[1].size > 0 %}
          <a class="anchor" id="{{ data[0] }}"></a>
          <div class="card mt-3 p-3">
            <h3 class="card-title font-weight-medium">{{ data[0] | capitalize }}</h3>
            <div>
              {% include resume/work.liquid %}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <!-- Selected papers -->
    {% if page.selected_papers %}
      <h2>
        <a href="{{ '/publications/' | relative_url }}" style="color: inherit">Selected Publications</a>
      </h2>
      {% include selected_papers.liquid %}
    {% endif %}
  </article>
</div>
